@import "css/colors.css";
@import "css/workspace.css";
@import "css/tray.css";
@import "css/window.css";
@import "css/capsule.css";
@import "css/audio.css";

* {
  font-family: "Noto Sans";
  font-size: 12px;
  border: none;
  min-height: 0;
  font-weight: 500;
}

window#waybar {
  background: transparent;
  color: #e8e8e8;
}

.modules-left,
.modules-center,
.modules-right {
  margin: 10px 10px 2px;
}
